.favorite-dish {
  padding: var(--common-padding);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.favorite-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
              0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
                0 4px 6px rgba(0, 0, 0, 0.3);
  }
}

.info-image {
  border-radius: 50%;
  overflow: hidden;
}

.info-description {
  text-align: center;
}

@media (max-width: 991px) {
  .favorite-dish {
    gap: 20px;
  }

  .favorite-dish-title {
    text-align: center;
  }
  .favorite-info {
    flex-direction: column;
    gap: 16px;
  }
}