.content {
  display: flex;
  align-items: center;

  &.revert {
    flex-direction: row-reverse;
  }
}

.text {
  text-align: justify;
}

.info-article {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dish-image {
  display: flex;
  justify-content: flex-end;
  &.right {
    justify-content: flex-start;
  }
  img {
    border-radius: 63px;
    width: 80%;
  }
}

@media (max-width: 991px) {
  .content {
    flex-direction: column;
    gap: 20px;
    &.revert {
      flex-direction: column-reverse;
    }
  }

  .title {
    text-align: center;
  }

  .btn-primary {
    width: 100%;
  }

  .dish-image {
    justify-content: center;
    img {
      width: 100%;
    }
  }
}
