/* Se utiliza un degradado en conjunto con clip path (al igual que para el new-menu) para poder aplicar la forma necesaria enviando 
  las coordenadas correspondientes en formato (x y) para darle la forma. Cada coordenada representa un punto por lo que el polígono
  tendrá tantas aristas como coordenadas se coloque.
*/
.background-shape {
  position: absolute;
  overflow: hidden;
  height: 60vh;
  width: 100%;
  background: linear-gradient(to bottom, var(--primary-color), var(--primary-color));
  clip-path: polygon(0% 0%, 100% 0%, 95% 75%, 0% 100%);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  padding: var(--common-padding);
}
