.background-shape {
  position: absolute;
  overflow: hidden;
  height: 60vh;
  width: 100%;
  background: linear-gradient(to bottom, var(--primary-color), var(--primary-color));
  clip-path: polygon(0% 0%, 100% 0%, 95% 75%, 0% 100%);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  padding: var(--common-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-menu-article {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
