<section class="new-menu">
  <!-- Se coloca la forma como fondo -->
  <div class="background-shape"></div>
  <!-- Se hace uso del componente reutilizable "info"-->
  <div class="content">
    <dilvant-info
    title="Haz crecer tu amor por la comida peruana."
    text="Sumérgete en la cultura peruana a través de nuestra deliciosa comida."
    textClass="main-text"
    buttonText="Nuestra nueva carta."
    imgPath="assets/images/new-menu/main-food.svg"
    class="content"></dilvant-info>
  </div>
</section>
