<section class="unique-experience">
  <dilvant-info
    title="Una experiencia única"
    text="En nuestro restaurante, ofrecemos una experiencia culinaria única con los mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un ambiente acogedor mientras saboreas nuestras especialidades."
    textClass="secondary-text"
    imgPath="assets/images/unique-experience/experience.svg"></dilvant-info>
</section>
