.background-shape {
  position: absolute;
  height: 70vh;
  width: 100%;
  background: linear-gradient(to bottom, var(--primary-color), var(--primary-color));
  clip-path: polygon(100% 100%, 0% 100%, 3% 44%, 100% 0%);
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  padding: var(--common-padding);
}
