.popular-receipts {
  padding: var(--common-padding);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-receipts-title {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

.explore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  font-weight: 500;
  color: var(--secondary-color);
  gap: 16px;
  transition: transform 0.5s ease;
}

// Animación suave para el hover en el texto de explorar
.explore:hover {
  transform: translateX(5px);
}

.carousel-group {
  display: flex;
  justify-content: space-between;
}

.popular-receipts-dishes {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.dish {
  height: 354px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Efecto ligero de overlay para el texto
.dish-info {
  height: 50%;
  padding: 24px;
  background: linear-gradient(rgba(15, 23, 42, 0.5), transparent);
}

.receipt-info-title {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 991px) {
  .title {
    font-size: 1.5rem;
  }

  .explore {
    font-size: .75rem;
    gap: 8px;
  }

  .popular-receipts-dishes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .arrow-icon {
    font-size: 16px;
    height: 16px;
  }
}