.btn-custom {
  box-shadow: none;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 50px;
  color: $text-color;
  border: 2px solid $secondary-color;
  width: fit-content;

  &.btn-primary {
    padding: var(--primary-btn-padding);
    font-size: calc(var(--font-size) * var(--font-size-multiplier-m));
    background-color: transparent;
    color: $secondary-color;
    &:hover {
      background-color: rgba($color: $secondary-color, $alpha: 0.2);
    }
    &:active{
      transform: translateY(.5px);
    }
  }

  &.btn-secondary {
    padding: var(--secondary-btn-padding);
    background-color: $secondary-color;
    &:active {
      transform: translateY(.5px);
    }
  }
}

.btn {
  &.dropdown-toggle {
    color: $text-color !important;
  }
}