:root {
  --bg-color: #fff;
  --primary-color: #001405;
  --secondary-color: #D4A206;
  --tertiary-color: #6D0101;

  --text-color: #fff;
  --secondary-text-color: #0F172A;

  --hr-color: #334155

  --font-family: 'Roboto', sans-serif;

  --common-padding: 80px;

  --primary-btn-padding: 20px 48px;
  --secondary-btn-padding: 12px 28px;
}


$bg-color: #fff;
$primary-color: #001405;
$secondary-color: #D4A206;
$tertiary-color: #6D0101;

$text-color: #fff;
$secondary-text-color: #000;

$hr-color: #334155;

$font-family: 'Roboto', sans-serif;

$common-padding: 80px;

$primary-btn-padding: 20px 48px;
$secondary-btn-padding: 12px 28px;

