:root {
  --bg-color: #fff;
  --primary-color: #001405;
  --secondary-color: #D4A206;
  --text-color: #fff;
  --secondary-text-color: #000;


  --font-family: 'Roboto', sans-serif;

  --common-padding: 80px;

  --primary-btn-padding: 20px 48px;
  --secondary-btn-padding: 12px 28px;
}


$bg-color: #fff;
$primary-color: #001405;
$secondary-color: #D4A206;
$text-color: #fff;
$secondary-text-color: #000;


$font-family: 'Roboto', sans-serif;

$common-padding: 80px;

$primary-btn-padding: 20px 48px;
$secondary-btn-padding: 12px 28px;

