.footer {
  position: relative;
  padding: 0 var(--common-padding);
  background-color: var(--primary-color);
  z-index: 4;
}

.footer-info {
  display: flex;
  padding: 48px 0;
}

.brand {
  font-size: 3rem;
}

.list-title {
  padding-bottom: 1rem;
  font-weight: 700;
}

.list-element {
  padding-bottom: .5rem;
}

ul {
  margin: 0;
  padding: 0;
  li {
    word-wrap: break-word;
  }
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

@media (max-width: 991px) {
  .footer-info {
    flex-direction: column;
  }

  .ul-container {
    display: flex;
    justify-content: space-between;
  }

  .col-lg-3 {
    padding-bottom: 1.5rem;
  }
}
